<div class="row">
  <div class="col-md-6">
    <div class="jumbotron">
      <h1 class="display-4"><%= @recipe["title"] %></h1>
      <p class="lead">Chef: <%= @recipe["chef"] %></p>
      <p class="lead">Prep Time: <%= @recipe["formatted"]["prep_time"] %></p>
      <hr class="my-4">
      <h3>Ingredients</h3>
      <ul>
        <% @recipe["formatted"]["ingredients"].each do |ingredient| %>
          <li><%= ingredient %></li>
        <% end %>
      </ul>

      <h3>Direcitons: </h3>
      <ol>
        <% @recipe["formatted"]["directions"].each do |direction| %>
          <li><%= direction %></li>
        <% end %>
      </ol>

      <a class="btn btn-primary" href="/client/recipes/<%= @recipe['id'] %>/edit">Edit</a>
      <%= form_tag "/client/recipes/#{ @recipe['id'] }", method: :delete do %>
        <input class="btn btn-primary" type="submit" value="Destroy">
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <img class="img-fluid" src="<%= @recipe["image_url"] %>">
  </div>
</div>

